.photo-list {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  margin: 5px 0px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  opacity: .6;
  margin-top: -20px
}


.text-emply-list {
  margin-top: -130px;


  .find-inspo {
    font-size: 17px;
    text-align: center;
    display: block;
    margin: 0 auto;
    opacity: .9;
    width: 40%;
  }

  .emplty-list {
    text-align: center;
    opacity: .9;
  }
}
