.infos-top{
  display: flex;
  // justify-content: space-between;
  // margin: 30px 0px;
  .info-text {
    flex-grow: 1;
  }

  i {
    font-size: 1.5rem;
  }

  #notif {
    font-size: 0.7rem;
    top: 5%;
  }

  a:hover {
    color: black;
  }
}

.display-lists{
  margin: 16px 8px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 8px;
}

.display-lists-default {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 10px;
}

.list-card{
  width:150px;
  height: 150px;
  margin: auto;
  border-radius: 20px;
  background: rgb(180,88,177);
  background: linear-gradient(56deg, rgba(180,88,177,1) 1%, rgba(114,177,176,1) 63%, rgba(164,233,149,1) 100%);
  background-size: cover;
  background-position: center;
  color: white;
  text-decoration: none;
  align-items: center;
  padding: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  h6 {
    align-self: center;
    margin-top: 30px
  }
}

.fa-pencil{
  color: white;
  padding: 0;
}


.list-card > a {
  color: white;
  text-decoration: none;
}

.nav-item-dropdown > img {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 10px 0 15%;

}

.followers {
  display: flex;
  justify-content: space-between;
  p {
    font-size: 13px;
  }
}
