.infos-top{
  display: flex;
  justify-content: space-between;
  margin: 30px 0px;
}

.display-lists{
    margin: 16px 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 8px;
  }

.display-lists-default {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 10px;
}

  .list-card{

      width:150px;
      height: 150px;
      margin: auto;
      border-radius: 20px;
      display:flex;
      background-color: $tertiary;
      background-size: cover;
      background-position: center;
      color: white;
      text-decoration: none;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    }

    .list-card > a {
      color: white;
      text-decoration: none;
    }

    .nav-item-dropdown > img {

    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    }
 
