i {
  padding-top: 7px;
  size: 14px;
}

.pictures {
  a{
    font-size: 18px;

    &:hover {
      color: black;
    }
  }

  .top-siglet {
    display: flex;
    justify-content: space-between;
    margin: 0 14px -36px 14px;
    position: relative;
    z-index: 1;
    align-items: center;
  }

  i {
    box-shadow: 1px 10px 30px rgba(255, 255, 255, 0.9);
  }

  .fa-thumbtack {
    margin-left: 14px;
  }
}
.cover {
  object-fit: cover;
  width: 100%;
  height: 170px;
  border-radius: 12px;
  margin: 5px 0px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  opacity: .7;

}

.poster {
  position: absolute;
  top: 125px;
  width: auto;
  height: 140px;
  border: 2px solid white;
  border-radius: 8px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}



.show-title {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  color: rgb(33, 33, 33);
}

.info {
  margin-bottom: 40px;
  margin-top: 20px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);

  h5 {
    margin-top: 15px;
    color: rgb(33, 33, 33);
  }
}

.comment {
  padding: 20px 0;
  i {
    padding-top: 0;
    padding-right: 8px;
    font-size: 20px;
  }
}

#movie_review_content {
  height: 30px;
}

p {
  margin-bottom: 0px;
}

.reviews {
  margin: 40px 0;

  .small-text {
    padding-bottom: 15px;
  }
}

.friends {
  color: rgba(255, 187, 43, 0.8);
  -webkit-text-stroke: 1px rgba(255, 187, 43, 1);
}

.fa-star {
  vertical-align: 15%;
  font-size: 11px
}

// .show {
//   position: relative;
//   top: 32px;
//   left: 10px;
//   z-index: 1;
//   }
