<div>
  <strong><%= review.user.username %></strong>
  <%= render "movies/stars_average", rating: review.rating %>
  <p><%= review.content %></p>

  <% if MovieReview.find_by(movie: @movie, user: current_user) %>
      <%= link_to "Delete my comment",
      movie_review_path(review),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
  <% end %>

</div>
