<%= link_to "Add a movie", new_movie_path(@movie)%>

<h1 class="text-center mb-5 mt-3">Movies</h1>
<div class="movie-cards">
  <% sum = 0 %>
  <% @movies.each do |movie| %>
    <% sum +=1  %>
    <% sum = 1 if sum > 20 %>
    <div class="div<%= sum %>">
      <div class="row text-center">
        <%= link_to movie_path(movie) do %>
          <%= render "pages/card", culturale: movie, categorie: "Movie", color: "rgba(255, 187, 43, 0.8)", border: "rgb(255, 187, 43)"%>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
