<div class="container">
<% @movies.each do |movie| %>
<div class="card">
<%= link_to movie.title, movie_path(movie) %>
<%= image_tag movie.photo_url, width: 100 %>
 
      </div>
<hr>
<% end %>
</div>
