<h1>Followers</h1>

<% @user.followers.each do |follower| %>
<%= cl_image_tag follower.photo.key, class:"avatar" %>
<%= link_to follower.username.capitalize, user_path(follower.id), :class=>"px-2"%>
<hr>
<% end %>
