<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid mx-3">
    <%= link_to root_path, class: "navbar-brand" do %>
      <h3>O.</h3>
    <% end %>

    <%= link_to "#", class: "navbar-brand" do %>
      <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>

    <%= link_to lists_path, class: "navbar-brand" do %>
      <i class="fa-regular fa-bookmark"></i>
    <% end %>
  </div>
</div>
