<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid mx-3">
    <%= link_to root_path, class: "navbar-brand" do %>
      <h3>O.</h3>
    <% end %>

    <%= link_to search_path, class: "navbar-brand" do %>
      <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to user_path(current_user), class: "navbar-brand" do %>
        <i class="fa-regular fa-bookmark"></i>
      <% end %>
    <% end %>
  </div>
</div>
