<div data-controller="movie">
  <h1>Search_api</h1>
  <%= form_with method: :get, html:{class: "d-flex", data: {action: "submit->movie#Search"}} do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a movie, a book or a podcast",
      data: {movie_target: "input"}
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  <div class="feed-cards", data-movie-target="results">
  </div>
</div>
