<div data-controller="movie">
  <%= form_with method: :get, html: { class: "d-flex", data: {action: "submit->movie#Search"} } do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control form",
      placeholder: "Find a movie, a book or a podcast",
      data: {movie_target: "input"}
    %>
    <button class="btn"><i class="fa-solid fa-magnifying-glass"></i></button>
  <% end %>
    <div class="basic-grid pt-4", data-movie-target="results">
    </div>
</div>

<% if @results.empty? %>
  <p> Sorry, we don't have what you're looking for in our database, fortunately you can add it yourself so that other users can enjoy it too ! </p>
<% end %>
