<h1 class="text-center mb-5 mt-3">Books</h1>
<div class="book-cards">
  <% sum = 0 %>
  <% @books.each do |book| %>
    <% sum +=1 %>
    <% sum = 1 if sum > 20 %>
    <div class="div<%= sum %>">
      <div class="row text-center">
        <%= link_to book_path(book) do %>
          <%= render "pages/card", culturale: book, categorie: "Book", color: "rgba(205, 76, 236, 0.8)"%>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
