.display{
display: flex;
justify-content: space-around;
}


.display > a{
  text-decoration: none;
  color: $secondary;
}


.underline{

  border-bottom: 1px solid $tertiary;
  display: inline-block;
  line-height: 0.85;
}
