.feed-card a {
  color: white;
  text-decoration: none;
}

.feed-card {
  width:170px;
  height: 240px;
  margin: auto;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  color: white;
  text-decoration: none;
  padding: 10px;
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;

  .informations {
    display: flex;
    align-items: start;
    width: 100%;
  }

  .card-avatar {
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
  }
}

.card-rating {
  background-color: rgba(51, 145, 134, 0.7);
  padding: 0 5px;
  border-radius: 5px;
  border: 1px solid rgb(51, 145, 134);
  font-size: 12px;
  i {
    padding-top: 0;
  }
}

.card-categorie {
  padding: 0 5px;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 12px;
}

.card-titre {
  text-align: start;
  text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.8);
}

////// display ///////
 // remember to change repeat for less scroll ///

.div1 {
grid-row: 1 / 3;
grid-column: 2/3;
}
.div2 {
grid-row: 2 / 4;
grid-column: 1/2;
}
.div3 {
grid-row: 3 / 5;
grid-column: 2/3;
}
.div4 {
grid-row: 4 / 6;
grid-column: 1/2;
}

.div5{
  grid-row: 5 / 7;
  grid-column: 2/3;
}

.div6 {
  grid-row: 6 / 8;
  grid-column: 1/2;
}

.div7{
  grid-row: 7 / 9;
  grid-column: 2/3;
}

.div8 {
  grid-row: 8 / 10;
  grid-column: 1/2;
}

.div9{
  grid-row: 9 / 11;
  grid-column: 2/3;
}

.div10{
  grid-row: 10 / 12;
  grid-column: 1/2;
}

.div11{
  grid-row: 11 / 13;
  grid-column: 2/3;
}

.div12{
  grid-row: 12 / 14;
  grid-column: 1/2;
}

.div13{
  grid-row: 13 / 15;
  grid-column: 2/3;
}

.div14{
  grid-row: 14 / 16;
  grid-column: 1/2;
}

.div15{
  grid-row: 15 / 17;
  grid-column: 2/3;
}

.div16{
  grid-row: 16 / 18;
  grid-column: 1/2;
}

.div17{
  grid-row: 17 / 19;
  grid-column: 2/3;
}

.div18{
  grid-row: 18 / 20;
  grid-column: 1/2;
}

.div19{
  grid-row: 19 / 21;
  grid-column: 2/3;
}

.div20{
  grid-row: 20 / 22;
  grid-column: 1/2;
}

