.feed-card a {
  color: white;
  text-decoration: none;
}

.feed-card {
  width:170px;
  height: 240px;
  margin: auto;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  color: white;
  text-decoration: none;
  padding: 10px;
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;

  .informations {
    display: flex;
    align-items: start;
    width: 100%;
  }

  .card-avatar {
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
  }
}

.card-rating {
  background-color: rgba(51, 145, 134, 0.7);
  padding: 0 5px;
  border-radius: 5px;
  border: 1px solid rgb(51, 145, 134);
  font-size: 12px;
  i {
    padding-top: 0;
  }
}

.card-categorie {
  padding: 0 5px;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 12px;
}

.card-titre {
  text-align: start;
  text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.8);
}
