.movie-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(100, 1fr);
  grid-gap: 10px;
}

.index-rating {
  position: absolute;
  top: 0;
  right: 3px;
}

.movie-card a {
  color: white;
  text-decoration: none;
}

.movie-card {
  width:170px;
  height: 220px;
  margin: auto;
  border-radius: 20px;
  display:flex;
  background-size: cover;
  background-position: center;
  color: white;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position:relative;
}



@media(max-width: 1300px) {
  .movie-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media(max-width: 1000px) {
  .movie-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media(max-width: 950px) {
  .movie-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 500px) {
  .movie-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 300px) {
  .movie-cards {
    grid-template-columns: 1fr;
  }
}
