.navbar-lewagon {
  justify-content: space-between;
  background: $two-o-20;
  position: fixed;
  bottom: 24px;
  right: 0;
  left: 0;
  width: 75%;
  height: 60px;
  margin: 0 auto;
  border-radius: 18px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;

}

.navbar-brand {
  h3 {
    margin: 0;
    text-align: center;
  }
  margin-right: 0;
  width: 70px;
  text-align: center;
  border-radius: 10px;
  color: white;
}

.focus {
  background-color: $tertiary;
}
