<div>
  <strong><%= review.user.username %></strong>
  <%= render "podcasts/stars_average", rating: review.rating %>
  <p><%= review.content %></p>

  <% if PodcastReview.find_by(podcast: @podcast, user: current_user) %>
      <%= link_to "Delete my comment",
      podcast_review_path(review),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
  <% end %>

</div>
