<h1 class="text-center mb-5 mt-3">Podcasts</h1>
<div class="podcast-cards">
  <% sum = 0 %>
  <% @podcasts.each do |podcast| %>
    <% sum += 1 %>
    <% sum = 1 if sum > 20 %>
    <div class="div<%= sum %>">
      <div class="row text-center">
        <%= link_to podcast_path(podcast) do %>
          <%= render "pages/card", culturale: podcast, categorie: "Podcast", color: "rgba(95, 227, 88, 0.8)"%>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


